<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="http://images.smallbusiness.intuit.com/sbweb/common/images/icons/favicon.ico"
        type="image/x-icon">
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dummy').click(function () {
                var myattr = $(this).attr('href');
                var dataindex = $(this).parent().attr('data-index');
                $('li[data-index="' + dataindex + '"]').addClass('active');
                $('li[data-index!="' + dataindex + '"]').removeClass('active');
                if (myattr == '#fms') {
                    $('#sid1').css('left', '0');
                    $('#sid2').css('left', '-930px');
                    $('#sid3').css('left', '-930px');
                    $('#sid4').css('left', '-930px');
                    $('#sid5').css('left', '-930px');
                    $('#sid6').css('left', '-930px');
                    $('#sid7').css('left', '-930px');
                }
                else if (myattr == '#reqid') {

                    $('#sid1').css('left', '-930px');
                    $('#sid2').css('left', '0');
                    $('#sid3').css('left', '-930px');
                    $('#sid4').css('left', '-930px');
                    $('#sid5').css('left', '-930px');
                    $('#sid6').css('left', '-930px');
                    $('#sid7').css('left', '-930px');
                }
                else if (myattr == '#lnq') {

                    $('#sid1').css('left', '-930px');
                    $('#sid2').css('left', '-930px');
                    $('#sid3').css('left', '0');
                    $('#sid4').css('left', '-930px');
                    $('#sid5').css('left', '-930px');
                    $('#sid6').css('left', '-930px');
                    $('#sid7').css('left', '-930px');
                }
                else if (myattr == '#exceptions') {

                    $('#sid1').css('left', '-930px');
                    $('#sid2').css('left', '-930px');
                    $('#sid3').css('left', '-930px');
                    $('#sid4').css('left', '0');
                    $('#sid5').css('left', '-930px');
                    $('#sid6').css('left', '-930px');
                    $('#sid7').css('left', '-930px');
                }
                else if (myattr == '#batch') {

                    $('#sid1').css('left', '-930px');
                    $('#sid2').css('left', '-930px');
                    $('#sid3').css('left', '-930px');
                    $('#sid4').css('left', '-930px');
                    $('#sid5').css('left', '0');
                    $('#sid6').css('left', '-930px');
                    $('#sid7').css('left', '-930px');
                }
                else if (myattr == '#json') {

                    $('#sid1').css('left', '-930px');
                    $('#sid2').css('left', '-930px');
                    $('#sid3').css('left', '-930px');
                    $('#sid4').css('left', '-930px');
                    $('#sid5').css('left', '-930px');
                    $('#sid6').css('left', '0');
                    $('#sid7').css('left', '-930px');
                }
                else if (myattr == '#compression') {

                    $('#sid1').css('left', '-930px');
                    $('#sid2').css('left', '-930px');
                    $('#sid3').css('left', '-930px');
                    $('#sid4').css('left', '-930px');
                    $('#sid5').css('left', '-930px');
                    $('#sid6').css('left', '-930px');
                    $('#sid7').css('left', '0');
                }
            });

        });
    </script>
    @*<script type="text/javascript" src="../../Scripts/knockout-2.0.0.js"></script>
    <script type="text/javascript" src="../../Scripts/sammy-latest.min.js"></script>*@
</head>
<body>
    <header>
        <div id="logo">
            <a href="../Landing/Index"></a>
        </div>
    </header>
    <div id="main">
        <p class="pageTitle">
            Ipp Software Development Kit for .Net Solutions</p>
        <p class="subTitle">
            7 new reasons for using Azure SDK 3</p>
        <section>
            <div class="sliderView">
                <section id="sid1" class="box" style="z-index: 100; left: 0;">
                    <h2 class="sliderViewTitle">
                        Uses the new Financial Management Services 7.1</h2>
                </section>
                <section id="sid2" class="box" style="z-index: 99; left: -930px">
                    <h2 class="sliderViewTitle">
                        Ability to recognize requests using id's</h2>
                </section>
                <section id="sid3" class="box" style="z-index: 98; left: -930px">
                    <h2 class="sliderViewTitle">
                        Support for querying using LINQ</h2>
                </section>
                <section id="sid4" class="box" style="z-index: 97; left: -930px">
                    <h2 class="sliderViewTitle">
                        Detailed exception messages</h2>
                </section>
                <section id="sid5" class="box" style="z-index: 96; left: -930px">
                    <h2 class="sliderViewTitle">
                        Ability to perform batch processing</h2>
                </section>
                <section id="sid6" class="box" style="z-index: 95; left: -930px">
                    <h2 class="sliderViewTitle">
                        Support for JSON</h2>
                </section>
                <section id="sid7" class="box" style="z-index: 94; left: -930px">
                    <h2 class="sliderViewTitle">
                        Support for Gzip and Deflate</h2>
                </section>
            </div>
            <div class="sliderControls">
                <a href="#" class="prev" title="previous">previous</a> <a href="#" class="next" title="next">
                    next</a>
                <ul>
                    <li data-index="0" class="active"><a class="dummy" href="#fms" title="FMS">FMS</a></li>
                    <li data-index="1" class=""><a class="dummy" href="#reqid" title="Request Ids">Request
                        Id's</a></li>
                    <li data-index="2" class=""><a class="dummy" href="#lnq" title="Linq">LINQ</a></li>
                    <li data-index="3" class=""><a class="dummy" href="#exceptions" title="Exceptions">Exceptions</a></li>
                    <li data-index="4" class=""><a class="dummy" href="#batch" title="Batch Processing">
                        Batch Processing</a></li>
                    <li data-index="5" class=""><a class="dummy" href="#json" title="Json">Json</a></li>
                    <li data-index="6" class=""><a class="dummy" href="#compression" title="Compression">
                        Compression</a></li>
                </ul>
            </div>
        </section>
        <p class="subTitle">
            Still not convinced! Have a look at our Samples which showcases the SDK in detail.</p>
        <div>
            @RenderBody()
        </div>
        <div style="height: 200px;">
        </div>
    </div>
    <footer>
    </footer>
</body>
</html>
