@model Intuit.Ipp.Data.Customer
@{
    ViewBag.Title = "Create Qbd Customer";
    string error = ViewBag.Error;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#reqFieldsView").css("display", "block");
        $("#addFieldsView").css("display", "none");
        $("#addressFieldsView").css("display", "none");
        $("#phoneFieldsView").css("display", "none");
        $("#emailFieldsView").css("display", "none");
        $("#websiteFieldsView").css("display", "none");

        $("#reqFieldsDiv").click(function () {
            $("#reqFieldsView").css("display", "block");
            $("#addFieldsView").css("display", "none");
            $("#addressFieldsView").css("display", "none");
            $("#phoneFieldsView").css("display", "none");
            $("#emailFieldsView").css("display", "none");
            $("#websiteFieldsView").css("display", "none");
        });
        $("#addFieldsDiv").click(function () {
            $("#reqFieldsView").css("display", "none");
            $("#addFieldsView").css("display", "block");
            $("#addressFieldsView").css("display", "none");
            $("#phoneFieldsView").css("display", "none");
            $("#emailFieldsView").css("display", "none");
            $("#websiteFieldsView").css("display", "none");
        });
        $("#addressFieldsDiv").click(function () {
            $("#reqFieldsView").css("display", "none");
            $("#addFieldsView").css("display", "none");
            $("#addressFieldsView").css("display", "block");
            $("#phoneFieldsView").css("display", "none");
            $("#emailFieldsView").css("display", "none");
            $("#websiteFieldsView").css("display", "none");
        });

        $("#phoneFieldsDiv").click(function () {
            $("#reqFieldsView").css("display", "none");
            $("#addFieldsView").css("display", "none");
            $("#addressFieldsView").css("display", "none");
            $("#phoneFieldsView").css("display", "block");
            $("#emailFieldsView").css("display", "none");
            $("#websiteFieldsView").css("display", "none");
        });

        $("#emailFieldsDiv").click(function () {
            $("#reqFieldsView").css("display", "none");
            $("#addFieldsView").css("display", "none");
            $("#addressFieldsView").css("display", "none");
            $("#phoneFieldsView").css("display", "none");
            $("#emailFieldsView").css("display", "block");
            $("#websiteFieldsView").css("display", "none");
        });

        $("#websiteFieldsDiv").click(function () {
            $("#reqFieldsView").css("display", "none");
            $("#addFieldsView").css("display", "none");
            $("#addressFieldsView").css("display", "none");
            $("#phoneFieldsView").css("display", "none");
            $("#emailFieldsView").css("display", "none");
            $("#websiteFieldsView").css("display", "block");
        });

    });
</script>
<div>
    <h2>
        Create Qbd Customer
        <div style="float: right; margin-right: 5px; margin-top: 5px;">
            <a href="/QbdCustomer/Index">
                <img src="../../Images/back.png" alt="Back" style="max-height: 30px;" />
            </a>
        </div>
    </h2>
</div>
<br />
<hr />
@if (!string.IsNullOrWhiteSpace(error))
{
    <div style="border: solid 1px Red; color: Red; padding: 5px;">
        <p>
            There was an error while creating the customer. Review the error and try again.
            <br />
            @Html.Raw(error)
        </p>
    </div>
    <hr />
    <br />
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <div class="mainDiv">
        <div class="leftDiv">
            <ul>
                <li>
                    <div id="reqFieldsDiv">
                        <div style="border-top-right-radius: 20px;" class="contentDiv">
                            <div>
                                Required Fields</div>
                            <img src="../../Images/req-icon.png" alt="Req" /></div>
                    </div>
                </li>
                <li>
                    <div id="addFieldsDiv">
                        <div class="contentDiv">
                            <div>
                                Additional Fields</div>
                            <img src="../../Images/plus-icon.png" alt="Req" /></div>
                    </div>
                </li>
                <li>
                    <div id="addressFieldsDiv">
                        <div class="contentDiv">
                            <div>
                                Address</div>
                            <img src="../../Images/address_icon.png" alt="Req" /></div>
                    </div>
                </li>
                <li>
                    <div id="phoneFieldsDiv">
                        <div class="contentDiv">
                            <div>
                                Phone</div>
                            <img src="../../Images/phone-icon.png" alt="Req" /></div>
                    </div>
                </li>
                <li>
                    <div id="emailFieldsDiv">
                        <div class="contentDiv">
                            <div>
                                Email</div>
                            <img src="../../Images/email-icon.png" alt="Req" /></div>
                    </div>
                </li>
                <li>
                    <div id="websiteFieldsDiv">
                        <div style="border-bottom-right-radius: 20px;" class="contentDiv">
                            <div>
                                Website</div>
                            <img src="../../Images/website-icon.png" alt="Req" /></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="rightDiv">
            <div id="reqFieldsView" style="height: auto; width: auto;">
                <div>
                    @Html.LabelFor(model => model.DisplayName)
                    @Html.EditorFor(model => model.DisplayName)
                </div>
                @Html.ValidationMessageFor(model => model.DisplayName)
            </div>
            <div id="addFieldsView" style="height: auto; width: auto;">
                <table class="addressTable" cellpadding="5px" cellspacing="5px">
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.Active)
                        </td>
                        <td style="text-align: left; margin-left: 4%; display: block;">
                            @Html.EditorFor(model => model.Active)
                            @Html.ValidationMessageFor(model => model.Active)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.ActiveSpecified)
                        </td>
                        <td style="text-align: left; margin-left: 4%; display: block;">
                            @Html.EditorFor(model => model.ActiveSpecified)
                            @Html.ValidationMessageFor(model => model.ActiveSpecified)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.AcctNum)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.AcctNum)
                            @Html.ValidationMessageFor(model => model.AcctNum)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.CompanyName)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.CompanyName)
                            @Html.ValidationMessageFor(model => model.CompanyName)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.Title)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.Title)
                            @Html.ValidationMessageFor(model => model.Title)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.GivenName)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.GivenName)
                            @Html.ValidationMessageFor(model => model.GivenName)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.MiddleName)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.MiddleName)
                            @Html.ValidationMessageFor(model => model.MiddleName)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.FamilyName)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.FamilyName)
                            @Html.ValidationMessageFor(model => model.FamilyName)
                        </td>
                    </tr>
                </table>
            </div>
            <div id="addressFieldsView" style="height: auto; width: auto;">
                <table class="addressTable" cellpadding="5px" cellspacing="5px">
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.BillingAddr.Line1)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.BillingAddr.Line1)
                            @Html.ValidationMessageFor(model => model.BillingAddr.Line1)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.BillingAddr.Line2)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.BillingAddr.Line2)
                            @Html.ValidationMessageFor(model => model.BillingAddr.Line2)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.BillingAddr.Line3)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.BillingAddr.Line3)
                            @Html.ValidationMessageFor(model => model.BillingAddr.Line3)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.BillingAddr.Line4)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.BillingAddr.Line4)
                            @Html.ValidationMessageFor(model => model.BillingAddr.Line4)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.BillingAddr.Line5)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.BillingAddr.Line5)
                            @Html.ValidationMessageFor(model => model.BillingAddr.Line5)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.BillingAddr.City)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.BillingAddr.City)
                            @Html.ValidationMessageFor(model => model.BillingAddr.City)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.BillingAddr.Country)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.BillingAddr.Country)
                            @Html.ValidationMessageFor(model => model.BillingAddr.Country)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.BillingAddr.CountrySubDivisionCode)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.BillingAddr.CountrySubDivisionCode)
                            @Html.ValidationMessageFor(model => model.BillingAddr.CountrySubDivisionCode)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.BillingAddr.PostalCode)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.BillingAddr.PostalCode)
                            @Html.ValidationMessageFor(model => model.BillingAddr.PostalCode)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.BillingAddr.PostalCodeSuffix)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.BillingAddr.PostalCodeSuffix)
                            @Html.ValidationMessageFor(model => model.BillingAddr.PostalCodeSuffix)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.BillingAddr.Tag)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.BillingAddr.Tag)
                            @Html.ValidationMessageFor(model => model.BillingAddr.Tag)
                        </td>
                    </tr>
                </table>
            </div>
            <div id="phoneFieldsView" style="height: auto; width: auto;">
                <table class="addressTable" cellpadding="5px" cellspacing="5px">
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.Mobile.FreeFormNumber)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.Mobile.FreeFormNumber)
                            @Html.ValidationMessageFor(model => model.Mobile.FreeFormNumber)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.Mobile.DeviceType)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.Mobile.DeviceType)
                            @Html.ValidationMessageFor(model => model.Mobile.DeviceType)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            DeviceType Allowed values: LandLine, Fax, Mobile, Pager
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.Mobile.Tag)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.Mobile.Tag)
                            @Html.ValidationMessageFor(model => model.Mobile.Tag)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            Tag Allowed values: Business, Fax, Home, Mobile, Pager
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.Mobile.Default)
                        </td>
                        <td style="text-align: left; margin-left: 4%; display: block;">
                            @Html.EditorFor(model => model.Mobile.Default)
                            @Html.ValidationMessageFor(model => model.Mobile.Default)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.Mobile.DefaultSpecified)
                        </td>
                        <td style="text-align: left; margin-left: 4%; display: block;">
                            @Html.EditorFor(model => model.Mobile.DefaultSpecified)
                            @Html.ValidationMessageFor(model => model.Mobile.DefaultSpecified)
                        </td>
                    </tr>
                </table>
            </div>
            <div id="emailFieldsView" style="height: auto; width: auto;">
                <table class="addressTable" cellpadding="5px" cellspacing="5px">
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.PrimaryEmailAddr.Address)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.PrimaryEmailAddr.Address)
                            @Html.ValidationMessageFor(model => model.PrimaryEmailAddr.Address)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.PrimaryEmailAddr.Tag)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.PrimaryEmailAddr.Tag)
                            @Html.ValidationMessageFor(model => model.PrimaryEmailAddr.Tag)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            Tag Allowed values: Business, Home
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.PrimaryEmailAddr.Default)
                        </td>
                        <td style="text-align: left; margin-left: 4%; display: block;">
                            @Html.EditorFor(model => model.PrimaryEmailAddr.Default)
                            @Html.ValidationMessageFor(model => model.PrimaryEmailAddr.Default)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.PrimaryEmailAddr.DefaultSpecified)
                        </td>
                        <td style="text-align: left; margin-left: 4%; display: block;">
                            @Html.EditorFor(model => model.PrimaryEmailAddr.DefaultSpecified)
                            @Html.ValidationMessageFor(model => model.PrimaryEmailAddr.DefaultSpecified)
                        </td>
                    </tr>
                </table>
            </div>
            <div id="websiteFieldsView" style="height: auto; width: auto;">
                <table class="addressTable" cellpadding="5px" cellspacing="5px">
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.WebAddr.URI)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.WebAddr.URI)
                            @Html.ValidationMessageFor(model => model.WebAddr.URI)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.WebAddr.Tag)
                        </td>
                        <td class="addressTableTd2">
                            @Html.EditorFor(model => model.WebAddr.Tag)
                            @Html.ValidationMessageFor(model => model.WebAddr.Tag)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.WebAddr.Default)
                        </td>
                        <td style="text-align: left; margin-left: 4%; display: block;">
                            @Html.EditorFor(model => model.WebAddr.Default)
                            @Html.ValidationMessageFor(model => model.WebAddr.Default)
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTableTd1">
                            @Html.LabelFor(model => model.WebAddr.DefaultSpecified)
                        </td>
                        <td style="text-align: left; margin-left: 4%; display: block;">
                            @Html.EditorFor(model => model.WebAddr.DefaultSpecified)
                            @Html.ValidationMessageFor(model => model.WebAddr.DefaultSpecified)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br />
    <input type="submit" value="Create" class="defaultBtn" />
}