@model IppDotNetDevKit_MvcWebRole.Models.FindAllModel
@*IEnumerable<Intuit.Ipp.Data.Qbd.Customer>*@
@{
    ViewBag.Title = "FindAll Qbd Customer";
    string results = ViewBag.Results;
    bool load = ViewBag.Load;
}
<div style="float: right; margin-right: 5px; margin-top: 5px;">
    <a href="/QbdCustomer/Index">
        <img src="../../Images/back.png" alt="Back" style="max-height: 30px;" />
    </a>
</div>
<h2>
    FindAll Qbd Customer</h2>
@using (Html.BeginForm())
{
    <table style="margin-left: 50%;">
        <tr>
            <td style="vertical-align: middle;">
                <input type="submit" value="Find All" class="defaultBtn" />
            </td>
        </tr>
    </table>
}
<hr style="float: left; width: 100%;" />
@if (results == "empty")
{
    <p>
        There were on results for the specified filter.</p>
}
else
{
    if (!load)
    {
    <div class="wrapper">
        <table class="reportsTable" width="95%" cellspacing="5px" cellpadding="5px">
            <thead>
                <tr>
                    <td>
                        Customer Display Name
                    </td>
                    <td>
                        Identifier
                    </td>
                    <td>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Customers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td style="width: 200px;">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id.Replace(':', '-') }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id.Replace(':', '-') }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id.Replace(':', '-') }) |
                            @Html.ActionLink("Void", "Void", new { id = item.Id.Replace(':', '-') })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
}
