@model Intuit.Ipp.Data.Customer
@{
    ViewBag.Title = "Qbd Customer";
    string operation = ViewBag.Operation;
}@*
<section>
    @Html.Partial("_MainMenu")
</section>*@
<div style="float: right; margin-right: 5px; margin-top: 5px;">
    <a href="../Home/Index">
        <img src="../../Images/back.png" alt="Back" style="max-height: 30px;" />
    </a>
</div>
<h2>
    Qbd Customer Crud Operations</h2>
<h3>
    Demonstrates the Create, Update, Delete, FindAll and FindById operations as exposed
    by the IppDotNetDevKit V3.0 SDK.
</h3>
<br />
<br />
@if (!string.IsNullOrWhiteSpace(operation))
{
    <div class="operationDiv">
        @operation<span> operation has been performed. See below for details.</span>
        <div>
            Name: @Html.DisplayTextFor(model => model.DisplayName) | Id: @Html.DisplayTextFor(model => model.Id)
            | @Html.ActionLink("Details", "Details", new { id = Model.Id.Replace(':', '-') })
        </div>
    </div>
}
<table class="tableClass" style="margin-left: 5%;">
    <tbody>
        <tr>
            <td rowspan="2">
                <div style="background-color: #0072BC; height: 200px; width: 210px;">
                    <a href="../QbdCustomer/Create">
                        <div class="metroTitle" style="padding-top: 140px;">
                            <span style="position: absolute;">Add<br>
                                Entity</span>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div style="background-color: #CD4900; height: 100px; width: 210px;">
                    <a href="../QbdCustomer/FindAll">
                        <div class="metroTitle">
                            <span style="position: absolute;">Find<br>
                                All</span>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div style="background-color: #008641; height: 100px; width: 210px;">
                    <a href="../QbdCustomer/FindById">
                        <div class="metroTitle">
                            <span style="position: absolute;">Find By<br>
                                Identifier</span>
                        </div>
                    </a>
                </div>
            </td>
            <td rowspan="2">
                <div style="background-color: #FF0000; height: 200px; width: 210px;">
                    <a href="../QbdCustomer/Void">
                        <div class="metroTitle" style="padding-top: 140px;">
                            <span style="position: absolute;">Void<br>
                                Entity</span>
                        </div>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="background-color: #662D91; height: 100px; width: 210px;">
                    <a href="../QbdCustomer/Edit" class="metroLinks">
                        <div class="metroTitle">
                            <span style="position: absolute;">Update<br />
                                Entity</span>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div style="background-color: #404040; height: 100px; width: 210px;">
                    <a href="../QbdCustomer/Delete" class="metroLinks">
                        <div class="metroTitle">
                            <span style="position: absolute;">Delete<br />
                                Entity</span>
                        </div>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
