@model IppDotNetDevKit_MvcWebRole.Models.IdTypeModel
@{
    ViewBag.Title = "Void Qbd Customer";
    string noId = ViewBag.NoId;
}
<div style="float: right; margin-right: 5px; margin-top: 5px;">
    <a href="/QbdCustomer/Index">
        <img src="../../Images/back.png" alt="Back" style="max-height: 30px;" />
    </a>
</div>
<h2>
    Void Qbd Customer</h2>
@if (Model != null && !string.IsNullOrWhiteSpace(Model.Error))
{
    <div style="border: solid 1px Red; color: Red; padding: 5px; margin: 5px;">
        <p>
            There was an error while Voiding the customer. Review the error and try again.
            <br />
            @Html.Raw(Model.Error)
        </p>
    </div>
    <hr />
    <br />
}
@if (!string.IsNullOrWhiteSpace(noId))
{
    <br />
    @Html.Raw(noId)
}
else
{
    using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
    
    <p>
        Are you sure you want to void the customer with the following id?</p>
    <div class="centerDiv">
        <div id="reqFieldsView" style="height: auto; width: auto;">
            <table class="addressTable" cellpadding="5px" cellspacing="5px">
                <tr>
                    <td class="addressTableTd1">
                        @Html.LabelFor(model => model.DisplayName)
                    </td>
                    <td class="addressTableTd2">
                        @Html.EditorFor(model => model.DisplayName)
                    </td>
                </tr>
                <tr>
                    <td class="addressTableTd1">
                        @Html.LabelFor(model => model.IdValue)
                    </td>
                    <td class="addressTableTd2">
                        @Html.EditorFor(model => model.IdValue)
                    </td>
                </tr>
                <tr>
                    <td class="addressTableTd1">
                        @Html.LabelFor(model => model.SyncToken)
                    </td>
                    <td class="addressTableTd2">
                        @Html.EditorFor(model => model.SyncToken)
                    </td>
                </tr>
                <tr>
                    <td class="addressTableTd1">
                        @Html.LabelFor(model => model.Status)
                    </td>
                    <td class="addressTableTd2">
                        @Html.EditorFor(model => model.Status)
                    </td>
                </tr>
                <tr>
                    <td class="addressTableTd1">
                        @Html.LabelFor(model => model.Active)
                    </td>
                    <td class="addressTableTd2">
                        @Html.EditorFor(model => model.Active)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <input type="submit" value="Void" class="defaultBtn" />
    }
}