<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - IppDotNetDevKit V2.0 Samples</title>@*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <link rel="shortcut icon" href="http://images.smallbusiness.intuit.com/sbweb/common/images/icons/favicon.ico"
        type="image/x-icon" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <meta name="viewport" content="width=device-width" />
    @*<script type="text/javascript">
        $(document).ready(function () {

            // Qbd Menu
            $("#qbdLi").hover(function () {
                $("#qbdMenu").css("display", "block");
            },
            function () {
                $("#qbdMenu").css("display", "none");
            });

            $("#qbdMenu").hover(function () {
                $(this).css("display", "block");
            },
            function () {
                $(this).css("display", "none");
            });

            // Qbo Menu
            $("#qboLi").hover(function () {
                $("#qboMenu").css("display", "block");
            },
            function () {
                $("#qboMenu").css("display", "none");
            });

            $("#qboMenu").hover(function () {
                $(this).css("display", "block");
            },
            function () {
                $(this).css("display", "none");
            });

        });
    </script>*@
</head>
<body>
    <div class="container">
        <div class="fouDiv">
            <div id="logo">
                <a href="../Home/Index" style="height: 48px; width: 135px; float: left;"></a>
            </div>
            <div id="mainMenu">
                <ul>
                    <li><a href="/Home/Index">Home</a> </li>
                    <li><a href="/Home/Logging">Logging</a></li>
                    <li><a href="/Home/Settings">Settings</a></li>
                    @*
                    <li id="qbdLi"><a href="#"><span>Qbd</span></a>
                        <div id="qbdMenu">
                            <ol>
                                <li><a href="../QbdCustomer/Index">Customer</a>
                                    <ul>
                                        <li><a href="../QbdCustomer/Create">&nbsp;&nbsp;-&nbsp;Create</a></li>
                                        <li><a href="../QbdCustomer/FindById">&nbsp;&nbsp;-&nbsp;Find By Id</a></li>
                                        <li><a href="../QbdCustomer/FindAll">&nbsp;&nbsp;-&nbsp;Find All</a></li>
                                    </ul>
                                </li>
                                <li><a href="../QbdVendor/Index">Vendor</a>
                                    <ul>
                                        <li><a href="../QbdVendor/Create">&nbsp;&nbsp;-&nbsp;Create</a></li>
                                        <li><a href="../QbdVendor/FindById">&nbsp;&nbsp;-&nbsp;Find By Id</a></li>
                                        <li><a href="../QbdVendor/FindAll">&nbsp;&nbsp;-&nbsp;Find All</a></li>
                                    </ul>
                                </li>
                                <li><a href="../SyncActivityAndStatus/Index">SyncActivity/Status</a>
                                    <ul>
                                        <li><a href="../SyncActivityAndStatus/SyncActivity">&nbsp;&nbsp;-&nbsp;Sync Activity</a></li>
                                        <li><a href="../SyncActivityAndStatus/SyncStatus">&nbsp;&nbsp;-&nbsp;Sync Status</a></li>
                                    </ul>
                                </li>
                                <li><a href="../QbdCustomField/Index">Custom Fields</a> </li>
                                <li><a href="../Reports/Index">Profit And Loss Report</a> </li>
                                <li><a href="../QbdPagination/Index">Pagination</a> </li>
                                <li><a href="../QbdRecordCount/Index">Record Count</a> </li>
                                <li><a href="../QbdFilter/Index">Customer Query</a> </li>
                            </ol>
                        </div>
                    </li>
                    <li id="qboLi"><a href="#"><span>Qbo</span></a>
                        <div id="qboMenu">
                            <ol>
                                <li><a href="../QboCustomer/Index">Customer</a>
                                    <ul>
                                        <li><a href="../QboCustomer/Create">&nbsp;&nbsp;-&nbsp;Create</a></li>
                                        <li><a href="../QboCustomer/FindById">&nbsp;&nbsp;-&nbsp;Find By Id</a></li>
                                        <li><a href="../QboCustomer/FindAll">&nbsp;&nbsp;-&nbsp;Find All</a></li>
                                    </ul>
                                </li>
                                <li><a href="../QboVendor/Index">Vendor</a>
                                    <ul>
                                        <li><a href="../QboVendor/Create">&nbsp;&nbsp;-&nbsp;Create</a></li>
                                        <li><a href="../QboVendor/FindById">&nbsp;&nbsp;-&nbsp;Find By Id</a></li>
                                        <li><a href="../QboVendor/FindAll">&nbsp;&nbsp;-&nbsp;Find All</a></li>
                                    </ul>
                                </li>
                                <li><a href="../QboPagination/Index">Pagination</a> </li>
                                <li><a href="../QboFilter/Index">Customer Query</a> </li>
                            </ol>
                        </div>
                    </li>
                    *@
                </ul>
            </div>
        </div>
        <div class="content">
            <section class="featured">
                <div class="content-wrapper">
                    <hgroup class="title">
                        <h3>
                            This is a Sample Application that shows the features of the IppDotNetDevKit V3.0.</h3>
                    </hgroup>
                    <p style="font-size: 9pt;">
                        To learn more about the services provided by Intuit <a href="http://intuit.com" title="Intuit">click here</a>.
                        The website features <span class="highlight">Operations on FMS</span> to help you
                        get the most from .Net DevKit. If you have any questions about Developing Intuit
                        Applications visit <a href="https://ipp.developer.intuit.com/0010_Intuit_Partner_Platform/0200_DevKits_for_Intuit_Partner_Platform/0150_IPP_.NET_DevKit_3.0"
                            title="Intuit Developer">Intuit Developer</a> or documenation on the DevKit
                        <a href=""
                            title="IPP.NETDevKit">here</a>.
                    </p>
                </div>
            </section>
            <div style="background-color: #EAEAEA; height: 10px;">
            </div>
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left" style="margin-top: 65px; margin-left: 15px;">
                    <p>
                        &copy; @DateTime.Now.Year - Intuit Inc. All rights reserved.</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://www.facebook.com/intuit" class="facebook" target="_blank">Facebook</a></li>
                        <li><a href="http://twitter.com/#!/intuit" class="twitter" target="_blank">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <div id="staticDiv">
        <a href="http://www.intuit.com/" target="_blank">Intuit</a> | <a href="https://code.intuit.com/sf/go/doc1621?nav=1"
            target="_blank">Intuit Data Services SDK Documentation</a> | <a href="https://ipp.developer.intuit.com/0010_Intuit_Partner_Platform/0200_DevKits_for_Intuit_Partner_Platform/0150_IPP_.NET_DevKit_3.0"
                target="_blank">Ipp .NetDevKit</a> | <a href="https://ipp.developer.intuit.com/0010_Intuit_Partner_Platform"
                    target="_blank">IPP</a>
    </div>
</body>
</html>
