<div>
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Qbd Customer CRUD", "Index", "QbdCustomer")</li>
            <li>@Html.ActionLink("Qbd Vendor CRUD", "Index", "QbdVendor")</li>
            <li>@Html.ActionLink("SyncActivity/Status", "Index", "SyncActivityAndStatus")</li>
            <li>@Html.ActionLink("Qbd Custom Fields", "Index", "QbdCustomField")</li>
            <li>@Html.ActionLink("Report", "Index", "Reports")</li>
            <li>@Html.ActionLink("Qbd Pagination", "Index", "QbdPagination")</li>
            <li>@Html.ActionLink("Qbd Record Count", "Index", "QbdRecordCount")</li>
            <li>@Html.ActionLink("Qbd Query Filter", "Index", "QbdFilter")</li>
        </ul>
    </nav>
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Qbo Customer CRUD", "Index", "QboCustomer")</li>
            <li>@Html.ActionLink("Qbo Vendor CRUD", "Index", "QboVendor")</li>
            <li>@Html.ActionLink("Qbo Query Filter", "Index", "QboFilter")</li>
            <li>@Html.ActionLink("Qbo Pagination", "Index", "QboPagination")</li>
        </ul>
    </nav>
</div>
