@model IppDotNetDevKit_MvcWebRole.Models.QueryModel.CountQuery
@{
    ViewBag.Title = "Count Qbd Invoice Query";
}
<div style="float: right; margin-right: 5px; margin-top: 5px;">
    <a href="/QbdFilter/Index">
        <img src="../../Images/back.png" alt="Back" style="max-height: 30px;" />
    </a>
</div>
<h2>
    Count Qbd Invoice Query</h2>
@using (Html.BeginForm())
{
    <p>
        Enter the details of the Invoice for which count is to be obtained:
    </p>
    <div class="centerDiv">
        <div id="reqFieldsView" style="height: auto; width: auto;">
            <table class="addressTable" cellpadding="5px" cellspacing="5px">
                <tr>
                    <td class="addressTableTd1">
                        @Html.LabelFor(model => model.Status)
                    </td>
                    <td class="addressTableTd2">
                        @Html.EditorFor(model => model.Status)
                    </td>
                </tr>
                <tr>
                    <td class="addressTableTd1">
                        @Html.LabelFor(model => model.StatusSpecified)
                    </td>
                    <td class="addressTableTd2">
                        @Html.EditorFor(model => model.StatusSpecified)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <input type="submit" value="Query with Count" class="defaultBtn" />
}
<div>
The count is: @Html.DisplayFor(model => model.Count)
</div>
