@model IppDotNetDevKit_MvcWebRole.Models.QueryModel.MultipleQueriesModel
@{
    ViewBag.Title = "Multiple Invoice Queries";
}
<div style="float: right; margin-right: 5px; margin-top: 5px;">
    <a href="/QbdFilter/Index">
        <img src="../../Images/back.png" alt="Back" style="max-height: 30px;" />
    </a>
</div>
<h2>
    Multiple Invoice Queries</h2>
@using (Html.BeginForm())
{
    <div>
        Query 1:</div> @Html.EditorFor(model => model.Query1)
    <div>
        Query 2:</div> @Html.EditorFor(model => model.Query2)
    <input type="submit" value="Execute" class="defaultBtn" />
}
<div>
    @if (Model != null)
    {
        if (Model.Success)
        {
            if (Model.InvoicesList == null || Model.InvoicesList.Count() == 0)
            {
        <p>
            <b>The search returned no results. Please try again.</b></p>
            }
            else
            {
                // show the details of invoice
        foreach (var item in Model.InvoicesList)
        {
            <div class="wrapper"> <table class="reportsTable" width="95%" cellspacing="5px"
            cellpadding="5px"> <thead> <tr> <td> Identifier </td> <td> Status </td> <td> Metadata
            CreateTime </td> </tr> </thead> <tbody>
            @foreach (var invoice in item)
            {
                <tr> <td>
                @Html.DisplayFor(modelItem => invoice.Id)
                </td> <td>
                @Html.DisplayFor(modelItem => invoice.status)
                </td> <td>
                @Html.DisplayFor(modelItem => invoice.MetaData.CreateTime)
            </td> </tr>
            }
        </tbody> </table> </div>
        }
            }
        }
        else
        {
        <p style="color: Red;">
            @Html.Raw(Model.Error)
        </p>
        }
    }
</div>
